<footer class="footer">
  <small>
    LENGA
  </small>
  <nav>
    <div >
      <ul>
        <li><%= link_to "About",   about_path %></li>
        <li><%= link_to "Contact", help_path %></li>
        <li><%= link_to "Security", security_path %></li>
        <li><%= link_to "terms",   terms_path %></li>
        <li><%= link_to "tips",   tips_path %></li>
        <li><%= link_to "help",   help_path %></li>
      </ul>
    </div>

    <ul>
      <li><%= link_to "Terms",     terms_path %></li>
      <li><%= link_to "Privacy",   '#' %></li>
      <li><%= link_to "sitemap",   sitemap_path %></li>
    </ul>
  </nav>
</footer>