<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "LENGA", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:about),  about_path  %></li>
        <li><%= link_to t(:help),   help_path %></li>
        <li><%= link_to t(:become_a_tutor), become_a_tutor_path %></li>
        <li>
          <% if current_user %>
            <div class="dropdown">
                <%= image_tag(current_user.image, class: "img-circular") %>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li class="divider"><%= link_to "My Session", "#" %></li>
                <li class="divider"><%= link_to "Language & Currency", "#" %></li>
                <li class="divider"><%= link_to "Setting", "#" %></li>
                <li class="divider"><%= link_to "Log Out", "#" %></li>
              </ul>
            </div>
          <% else %>
            <%= link_to t(:signin), user_facebook_omniauth_authorize_path %>
          <% end %>
          </li>
      </ul>
      </ul>
    </nav>
  </div>
</header>
